* {
  margin: 0;
  padding: 0;
}

.flex_container {
  border: 5px solid red;
  text-align: center;
  display: flex;

  /* flex-direction */
  /* by-default property */
  /* flex-direction: row; */
  /* flex-direction: row-reverse; */
  /* flex-direction: column;
  flex-direction: column-reverse; */
}

.box {
  color: white;
  padding: 2rem;
  font-size: 2rem;
}

.box-1 {
  background: #581f18;
}

.box-2 {
  background: #d95d39;
}

.box-3 {
  background: blue;
}

.box-4 {
  background: green;
}

.box-5 {
  background: orange;
}

.inline_flex_container {
  border: 5px solid red;
  text-align: center;
  display: inline-flex;
  /* flex-direction: row; */
  /* flex-direction: row-reverse;
  flex-direction: column;
  flex-direction: column-reverse; */
}

#inline_heading {
  margin-top: 5rem;
}
