* {
  margin: 0;
  padding: 0;
}

.flex_direction_row {
  border: 10px solid red;
  text-align: center;
  display: flex;

  /* justify-content -

  1. align flexbox items in horizontally ( when flex-direction is row) 
  2. align flexbox items in vertically ( when flex-direction is column) 
   
  values:
  center /
   
   */
  /* justify-content: center; */

  /* by-default */
  justify-content: flex-start;
  /* justify-content: flex-end; */

  /* evenly distributed */
  /* justify-content: space-between; */
  justify-content: space-evenly;
}
.flex_direction_row_space_around {
  border: 10px solid red;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.box {
  color: white;
  padding: 2rem;
  font-size: 2rem;
}

.box-1 {
  background: #581f18;
}

.box-2 {
  background: #d95d39;
}

.box-3 {
  background: blue;
}

.box-4 {
  background: green;
}

.box-5 {
  background: orange;
}

.flex_direction_column {
  height: 80vh;
  border: 10px solid red;
  text-align: center;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* by-default */
  /* justify-content: flex-start; */
  /* justify-content: flex-end; */
  /* justify-content: space-between; */
  justify-content: space-evenly;
}

#flex_direction_column_heading {
  margin-top: 5rem;
}
